name: Daily Panda WOD

on:
  workflow_dispatch: # מאפשר לך להריץ את הבוט ידנית דרך האתר של GitHub לבדיקה

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright python-telegram-bot python-dotenv
          playwright install chromium --with-deps

      - name: Run WOD Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py wod
